<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Holmes Hall</string>
		<key>location</key>
		<string>{38.04125, -84.50310}</string>
		<key>type</key>
		<string>4</string>
		<key>subtitle</key>
		<string>Bivouac Site</string>
	</dict>
	<dict>
		<key>name </key>
		<string>Woodland Glen II</string>
		<key>location</key>
		<string>{38.03159, -84.49938}</string>
		<key>type</key>
		<string>4</string>
		<key>subtitle</key>
		<string>Bivouac Site</string>
	</dict>
	<dict>
		<key>name</key>
		<string>University Flats</string>
		<key>location</key>
		<string>{38.03021, -84.50435}</string>
		<key>type</key>
		<string>4</string>
		<key>subtitle</key>
		<string>Bivouac Site</string>
	</dict>
	<dict>
		<key>name </key>
		<string>Campus Housing</string>
		<key>location</key>
		<string>{38.01964, -84.50998}</string>
		<key>type</key>
		<string>4</string>
		<key>subtitle</key>
		<string>Bivouac Site</string>
	</dict>
</array>
</plist>
