<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{38.03316, -84.52674}</string>
	<string>{38.02972, -84.50674}</string>
	<string>{38.03100, -84.50936}</string>
	<string>{38.04209, -84.50038}</string>
	<string>{38.01856, -84.51226}</string>
	<string>{38.04649, -84.54160}</string>
	<string>{38.02234, -84.47278}</string>
</array>
</plist>
