<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>K-Lot</string>
		<key>location</key>
		<string>{38.02165, -84.50711}</string>
		<key>type</key>
		<string>5</string>
		<key>subtitle</key>
		<string>Motor Pool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Scott&apos;s Street</string>
		<key>location</key>
		<string>{38.04165, -84.50928}</string>
		<key>type</key>
		<string>5</string>
		<key>subtitle</key>
		<string>Motor Pool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Library</string>
		<key>location</key>
		<string>{38.03389, -84.50118}</string>
		<key>type</key>
		<string>5</string>
		<key>subtitle</key>
		<string>Motor Pool</string>
	</dict>
</array>
</plist>
